.main {
    padding-block: 5rem;
    margin: auto;
    width: 80%;
}

.org {
    background-color: var(--tcabg);
    margin-block: 2.2rem;
}

.main h1 {
    font-weight: 900;
    text-align: center;
    font-size: 2.7rem;
    color: var(--herocolr);
}

.main p {
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 80%;
    color: var(--herocolr);
    font-size: 1.5rem;
    margin-block: 15px;
}



@media(max-width:500px) {
    .main {
        width: 97%;
    }
}